/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Alegreya', serif;*/

.introText{
	color:white;
	font-family: Lato !important;
}


.lnr{
	display: inline-block;
	fill:currentColor;
	width: 1em;
	height: 1em;
	vertical-align: 0;
	stroke-width: 1;
}

.services-icon{
	margin-bottom: 0px;
	font-size:30px;

}

.topIcon {
  font-size:2em;
}

h1,h2{
	font-family: 'Alegreya SC', serif;
	font-size: 3em;
}
p{
	font-family: 'Lato', sans-serif;
}

#mainImg{/*
	box-shadow:         3px 3px 5px 6px #cdd; */
	border-radius: 25px;
}

.nav-link{
	color:white !important ;
	font-size:1.6em;

}

.butSec:hover{
	background-color: black !important;
}



.box1{
   background-color:#85cdca;
   border-radius:10px;
}

.lnr-clock{
	margin-left:2em;
	width:50%;
	height:20%;
	color:#E8A87C !important;
}
.fa{
	padding:20px;
	font-size:1em;
	width:1em;
	text-align: center;
	text-decoration: none;
	margin:5px 2px;
	box-sizing:content-box;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin{
	background:#007bb5;
	color:white;
}
.fa-instagram{
	background:#dd4b39;
	color:white;
}
