.lnr{
	display: inline-block;
	fill:currentColor;
	width: 1em;
	height: 1em;
	vertical-align: 0;
	stroke-width: 1;
}

.services-icon{
	margin-bottom: 0px;
	font-size:30px;

}

.topIcon {
  font-size:2em;
}

h1{
	font-size: 3em;
}

#mainImg{/*
	box-shadow:         3px 3px 5px 6px #cdd; */
	border-radius: 25px;
}

.nav-link{
	color:black !important ;

}
